<%= render partial: 'search'%>
<% if @owners.empty? %>
  <p>There are no owners available.</p>
<% else %>
  <table class="table">
    <tr>
      <th>Prefix:</th>
      <th>First:</th>
      <th>Middle:</th>
      <th>Last:</th>
      <th>Age:</th>
      <th>Vehicles:</th>
      <th>Parking Tickets:</th>
      <th></th>
    </tr>
    <% @owners.each do |owner| %>
      <!--<h3><%= "#{owner.prefix} #{owner.first_name} #{owner.middle_name} #{owner.last_name}" %></h3>-->
      <tr>
        <td><%= owner.prefix %></td>
        <td><%= owner.first_name %></td>
        <td><%= owner.middle_name %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.age %></td>
        <td><%= owner.vehicles.count %></td>
        <td><%= owner.parking_tickets.count %></td>
        <td><%= link_to "View", owner %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= paginate @owners %>