<p>This vehicle belongs to <%= link_to "#{@vehicle.owner.prefix} #{@vehicle.owner.first_name} #{@vehicle.owner.middle_name} #{@vehicle.owner.last_name}", @vehicle.owner %>.</p>

<h3><%= "#{@vehicle.year} #{@vehicle.make} #{@vehicle.model}" %></h3>
<h6>Vehicle Information:</h6>
<ul>
  <li>VIN: <%="#{@vehicle.vin}"%></li>
  <li>Make: <%="#{@vehicle.make}"%></li>
  <li>Model: <%="#{@vehicle.model}"%></li>
  <li>Year: <%="#{@vehicle.year}"%></li>
  <li>Color: <%="#{@vehicle.color}"%></li>
  <li>Transmission: <%="#{@vehicle.transmission_type}"%></li>
  <li>Engine: <%="#{@vehicle.engine_size}"%></li>
  <li>Kilometrage: <%="#{@vehicle.kilometrage}"%></li>
</ul>

<h6>Vehicle Parking Tickets:</h6>
<ul>
<% @vehicle.parking_tickets.each do |ticket| %>
  <li><%= link_to "#{ticket.ticket_number} - #{ticket.issue_date}", ticket %></li>
<% end %>
</ul>